version: "3"

services:
  app:
    build:
      context: rems/
    env_file:
      - .env
    ports:
      - "0.0.0.0:3000:3000" 
    environment:
      DATABASE_URL: ${REMS_DATABASE_URL}
      PUBLIC_URL: ${REMS_PUBLIC_URL}
      OIDC_METADATA_URL: ${REMS_OIDC_METADATA_URL}
      OIDC_CLIENT_ID: ${REMS_OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${REMS_OIDC_CLIENT_SECRET}
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "-qO",
          "/dev/null",
          "http://localhost:3000/api/health"
        ]

  db:
    build:
      context: postgresql/
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - REMS_DB_USER
      - REMS_DB_PASSWORD
      - REMS_DB
    volumes:
      - remsdb:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}", "-d", "${POSTGRES_DB}"]
    ports:
      - "5432:5432"      

volumes:
  remsdb:
    driver: local
